code {
	    display: inline-block;
    resize: none;
    font-family: monospace;
    background-color: #272822;
    color: #5ad8ee;
    margin-bottom: -0.5em;
    padding: 0.5em;
    border-radius: .75em;
    overflow-y: auto;
}