code {
	display: inline-block;
    resize: none;
    font-family: monospace;
    background: linear-gradient(to right,#941a49,#a95f06);
    color: #fff;
    margin-bottom: -0.5em;
    padding: 0.5em;
    border-radius: .75em;
    overflow-y: auto;
}