.codeEditor {
    padding: 10px;
}

.codeEditor div.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-radius: .75em;
    flex-shrink: 1;
    min-height: 80px;
}

.codeEditor .colorFrame {
    background: linear-gradient(to right bottom, #ff8a00, purple);
    padding: 5px 0 5px 0;
    display: inline-flex;
    flex-direction: row;
    margin: 0 5px;
    border-radius: 15px;
    flex-shrink: 1;
}

.codeEditor .colorFrame.error {
    background: linear-gradient(to right bottom, #a20f0f, red);
}

.codeEditor .uprightTitle,
.codeEditor .runButton {
    display: inline-flex;
    vertical-align: middle;
    font-family: monospace;
    writing-mode: vertical-lr;
    justify-content: center;
    color: white;
    margin: 0;
    width: 2em;
    line-height: 2em;
}

.codeEditor .uprightTitle {
    cursor: default;
}

.codeEditor .runButton {
    cursor: pointer;
}

.codeEditor .editor,
.codeEditor .input,
.codeEditor .css,
.codeEditor .output {
    display: inline-block;
    resize: none;
    font-family: "Operator Mono SSm A","Operator Mono SSm B","Operator Mono","Source Code Pro",Menlo,Consolas,Monaco,monospace;
    background: linear-gradient(to bottom right,#001,#003);
    color: #5ad8ee;
    margin: 0 .5em 0 0;
    padding: 0.5em;
    border-radius: 10px;
    overflow-y: auto;
}

.codeEditor pre func {
    color: #f92672;
}

.codeEditor pre fparam {
    color: #fd971f;
}

.codeEditor .editor {
    width: 35em;
    border: none;
    line-height: 1.5em;
    counter-reset: line;
    tab-size: 4;
}

.codeEditor .css {
    tab-size: 2;
}

.codeEditor pre:focus,
.codeEditor textarea:focus,
.codeEditor div.output:focus {
    outline: none;
    box-shadow: 0 0 8px 2px purple inset;
}

.codeEditor .editor.error {
    box-shadow: 0 0 8px 2px red inset;
}

.codeEditor .input,
.codeEditor .css,
.codeEditor .output {
    border: none;
    width: 15em;
}

.codeEditor pre span {
    display: block;
    line-height: 1.5rem;
}
.codeEditor pre span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    text-align: right;
    color: white;
}

@media (max-width: 800px) {
    .codeEditor div.container {
        flex-direction: column;
        height: fit-content !important;
        width: 100%;
    } 

    .codeEditor .editor, 
    .codeEditor .input,
    .codeEditor .css,
    .codeEditor .output {
        width: 100%;
        height: 200px;
    }
}
