body > header {
    font-family: monospace;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 0;
    padding: 10px;
    color: white;
    z-index: 500;
}

body > header > .wrapper {
    background-image: linear-gradient(to right,#ff8a00,purple);
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    position: relative;
    top: -2em;
    box-shadow: 0 0 20px 5px purple;
    height: 65px;
}

body > header img {
    transform: rotate(-10deg) scale(0.8) translateY(5px);
    float: left;
}

body > header nav ul {
    list-style-type: none;
    padding: 0;
}

body > header nav ul li{
    align-items: center;
    display: inline-flex;
}

body > header a,
body > header a:visited {
    font-weight: 400;
    color: white;
    text-transform: none;
    transform: rotate(-20deg);
    margin-right: -.5em;
}

body > header a:hover {
    color: #201c29;
}

body > header #toTop {
    position: relative;
    top: -5.5em;
    float: right;
}

body.isFullscreen > header {
    display: none;
}
