* {
    box-sizing: border-box;
}

body {
    background-color: #001;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    padding-top: 3em;
    margin: 0;
    font-family: 'Segoe UI Light', "Segoe UI", "Georgia", "Lucida Grande", "Verdana", "Arial", "Helvetica", sans-serif;
}

*::selection {
    background: purple;
    color: #ffe200;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
}

body > .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.column {
    float: left;
}

.column.left {
    position: fixed;
    order: 1;
    flex-basis: 25%;
    border-right: 2px dotted #ddd;
    border: 2px dotted #ddd;
    border-bottom-right-radius: 3em 3em;
    border-bottom-left-radius: 3em 3em;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 65px);
}

.column.left::-webkit-scrollbar {
    display: none;
}

.column.middle {
    order: 2;
    flex-basis: 75%;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 75%;
    margin-left: 23%;
    padding-left: 10px;
}

body nav.left a {
    text-decoration: none;
    color: white;
}

body nav.left > ul {
    padding-inline-start: 20px
}

body nav.left > ul > li {
    list-style-type: none;
    font-weight: bold;
    font-size: 1em;
}

body nav.left > ul > li > a {
    color: white;
}

body nav.left > ul > li a:hover {
    color: #5ad8ee;
}

body nav.left > ul > li > ul > li{
    list-style-type: none;
    font-weight: normal;
}

body nav.left > ul > li > ul > li:hover{
    background-color: #003;
}

section {
    display: block;
    margin-top: 3em;
}

section > article {
    min-height: fit-content;
    height: calc(100vh - 1em);
}

.noSpacing > section > article {
    min-height: fit-content;
    min-height: -moz-fit-content;
    height: fit-content;
}

article::before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: 3em; 
    margin-top: -3em 
}

article ul li {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

article div.left {
    float: left;
    width: 50%;
}

article div.right {
    float: right;
    width: 50%;
}

article figure {
    text-align: center;
    margin: auto;
}

.hidden {
    display: none;
}

body > div > main h2 {
    width: fit-content;
    background: linear-gradient(to right,#ff8a00,#da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    text-shadow: none;
}

body > div > main a {
    color: #ff8a00;
    text-decoration: none;
}

body > div > main a:hover, 
body > div > main a:focus,
body > div > nav a:hover, 
body > div > nav a:focus {
    font-weight: bold;
    background: linear-gradient(to right,#ff8a00,#da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    text-shadow: none;
}

body > main a, 
body > main a:visited {
    color: #5ad8ee;
}


@media screen and (max-width: 1200px) {
    .column.left {
        display: none;
    }

    .column.middle {
        order: 1;
        flex-basis: 100%;
        max-width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        padding-left: 10px;
        margin-left: 0;
    }

    section > article {
        min-height: fit-content;
        min-height: -moz-fit-content;
        height: fit-content;
    }

    section > article::after {
        content: ''; 
        display: block; 
        position: relative; 
        width: 0; 
        height: 5em; 
    }
}


body.isFullscreen .column.left {
    border-radius: 3em;
}

body.isFullscreen .column.middle {
    order: 1;
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 10px;
}

body.isFullscreen section > article {
    min-height: fit-content;
    height: 100vh;
}
